{
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx",
        "*.scss",
        "*.css"
      ],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "arrowParens": "always"
}
