.filter {
    display: flex;
    gap: var(--gap);
    justify-content: flex-end;
    align-items: center;
}

.filter__select {
    padding: 0.5rem 1rem;
    font-family: var(--ff-main);
    border: 1px solid var(--clr-black);
}

.filter__found {
    margin: 0;
    font-family: var(--ff-main);
}
