
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    pointer-events:fill;
}

.modal__content {
    width: 30vw;
    height: 300px;
    padding: 30px;
    border: 1px solid #000;
    background-color: #fff;
}