.products {
    display: block;
}

.products__layout {
    display: grid;
    padding: 0;
    margin: 0;
    gap: 2rem 1.5rem;
    list-style: none;
}

.products__layout--grid {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.products__layout--list {
    grid-template-columns: 1fr;
}
