.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    width: 100vw;
    height: 115px;
    font-weight: bold;
}

.logo {
    width: 94px;
    height: 44px;
    transition: 0.4s;
}
.link {
    all: unset;
    cursor: pointer;
}
.cart {
    display: grid;
    grid-template-areas: 'icon count' 'icon value';
    align-items: center;
    column-gap: 0.5rem;

    color: var(--clr-white);
    text-decoration: none;
}

.cart__icon {
    display: block;
    grid-area: icon;
}

.cart__count {
    grid-area: count;
}

.cart__value {
    grid-area: value;
}

.logo:hover,
.cart:hover {
    transition: 0.4s;
    opacity: 0.5;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.search {
    margin-right: -1.5vw;
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.1;
    color: #fff;
}
