.header {
    background-color: #000;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    font-weight: bold;
}

.logo {
    width: 94px;
    height: 44px;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.search {
    margin-right: -1.5vw;
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.1;
    color: #fff;
}
