.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2vw;
    width: 100vw;
    height: 115px;
    font-weight: bold;
    background-color: #000;
}

.logo {
    width: 94px;
    height: 44px;
    transition: .4s;
}
 .cart {
    width: 100px;
 }

.logo:hover, .cart:hover {
    transition: .4s;
    opacity: .5;
}

